<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test_China">
		<parameter name="platformName" value="Windows" />
		<parameter name="platformVersion" value="8.1" />
		<parameter name="browserName" value="Chrome" />
		<parameter name="browserVersion" value="58" />		
		<parameter name="screenResolution" value="1280x1024" />
		<parameter name="proxyLocation" value="china" />
		
    <classes>
      <class name="LocalizationTestingPackage.NewTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test_Russia" >
		<parameter name="platformName" value="Windows" />
		<parameter name="platformVersion" value="8.1" />
		<parameter name="browserName" value="Chrome" />
		<parameter name="browserVersion" value="58" />		
		<parameter name="screenResolution" value="1280x1024" />
		<parameter name="proxyLocation" value="russia" />
		
    <classes>
      <class name="LocalizationTestingPackage.NewTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
