<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test_Singapore_Chrome" enabled="true">
		<parameter name="platformName" value="Windows" />
		<parameter name="platformVersion" value="8.1" />
		<parameter name="browserName" value="Chrome" />
		<parameter name="browserVersion" value="58" />		
		<parameter name="screenResolution" value="1280x1024" />
		<parameter name="proxyLocation" value="singapore" />
		
    <classes>
      <class name="LocalizationTestingPackage.NewTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test_Brazil_IE" enabled="true">
		<parameter name="platformName" value="Windows" />
		<parameter name="platformVersion" value="10" />
		<parameter name="browserName" value="Internet Explorer" />
		<parameter name="browserVersion" value="11" />		
		<parameter name="screenResolution" value="1280x1024" />
		<parameter name="proxyLocation" value="brazil" />
		
    <classes>
      <class name="LocalizationTestingPackage.NewTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test_Brazil_EDGE" enabled="true">
		<parameter name="platformName" value="Windows" />
		<parameter name="platformVersion" value="10" />
		<parameter name="browserName" value="Edge" />
		<parameter name="browserVersion" value="15" />		
		<parameter name="screenResolution" value="1280x1024" />
		<parameter name="proxyLocation" value="brazil" />
		
    <classes>
      <class name="LocalizationTestingPackage.NewTest"/>
    </classes>
  </test> <!-- Test -->

  
</suite> <!-- Suite -->
